/* app styles */
body {
    margin: 10px;
}
#results-container {
  padding-top:1em;
}
/* visibility classes */
.hidden {
    display:none;
}
/* mobile overrides */
@media only screen and (max-width: 320px) {

}
