<!DOCTYPE html>
<!--
Simple straw poll
-->
<html>
	<head>
		<title>Straw Poll</title>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
		<meta name="keywords" content="poll"/>
		<meta name="description" content="straw poll" />
		<meta name="author" content="A Nonymous" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no"/>
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta name="apple-mobile-web-app-capable" content="yes">
        <link rel="stylesheet" href="css/pure-min.css">
		<link rel="stylesheet" href="css/app.css?1">
	</head>
	<body>
    <div class="banner">
        <h1 class="banner-head">StrawPoll.</h1>
    </div>
    <div class="l-content" id="login-container">
        <div class="pure-g-r center-col">
            <div class="pure-u-1">
                <p>Are you going to vote? If so, who for?</p>
                <form id="frmPostcode" class="pure-form" action="#">
                    <fieldset>
                        <legend>Start by finding your constituency</legend>
                        <input type="text" id="txtPostcode" placeholder="Postcode">
                        <button id="btnFind" class="pure-button pure-button-primary" type="submit">Find</button>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
    <!-- templates -->
    <script id="constituencyTemplate" type="text/template">
        <h5 class="username">@<%- user %></h5>
        <p><%- text %></p>
    </script>
    <!-- end templates -->
    <!-- javascripts -->
    <script type='text/javascript' src='https://cdn.firebase.com/v0/firebase.js'></script>
    <script src="js/live.min.js"></script>
    <!-- end javascripts -->
	</body>
</html>