<!DOCTYPE html>
<!--
Simple straw poll
-->
<html>
	<head>
		<title>Straw Poll</title>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
		<meta name="keywords" content="poll"/>
		<meta name="description" content="straw poll" />
		<meta name="author" content="A Nonymous" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no"/>
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta name="apple-mobile-web-app-capable" content="yes">
        <link rel="stylesheet" href="css/pure-min.css">
		<link rel="stylesheet" href="css/app.css?1">
	</head>
	<body>
    <div class="banner">
        <h1 class="banner-head">StrawPoll.</h1>
    </div>
    <div class="l-content" id="postcode-container">
        <div class="pure-g-r center-col">
            <div class="pure-u-1">
                <p>Are you going to vote? If so, who for?</p>
                <form id="frmPostcode" class="pure-form" action="#">
                    <fieldset>
                        <legend>Start by finding your constituency</legend>
                        <input type="text" id="txtPostcode" placeholder="Postcode" required>
                        <button id="btnFind" class="pure-button pure-button-primary" type="submit">Find</button>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
    <div class="l-content hidden" id="vote-container">
        <div class="pure-g-r center-col">
            <div class="pure-u-1">
                <div id="vote">
                    <form id="frmVote" class="pure-form pure-form-aligned" action="#">
                        <fieldset>
                            <legend>How will you vote?</legend>
                            <div class="pure-control-group">
                                <label for="voteIntent">Are you going to vote?</label>
                                <input type="checkbox" id="voteIntent" checked>
                            </div>
                            <div class="pure-control-group">
                                <label for="votePref">If so, who for?</label>
                                <select id="votePref">
                                    <option value="conservative">Conservative</option>
                                    <option value="labour">Labour</option>
                                    <option value="liberal">Liberal Democrat</option>
                                    <option value="other">Other</option>
                                </select>
                            </div>
                            <div class="pure-controls">
                                <button id="btnVote" class="pure-button pure-button-primary" type="submit">Send</button>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="l-content" id="vote-container">
        <div class="pure-g-r center-col">
            <div class="pure-u-1">
                <a href="#" id="showResults">Show results</a>
                <div id="results"></div>
            </div>
        </div>
    </div>
    <!-- templates -->
    <script id="constituencyTemplate" type="text/template">
        <h5 class="username">@<%- user %></h5>
        <p><%- text %></p>
    </script>
    <!-- end templates -->
    <!-- javascripts -->
    <script type='text/javascript' src='https://cdn.firebase.com/v0/firebase.js'></script>
    <script src="js/live.concat.js"></script>
    <!-- end javascripts -->
	</body>
</html>