<!DOCTYPE html>
<!--
Simple straw poll
-->
<html>
	<head>
		<title>Straw Poll</title>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
		<meta name="keywords" content="poll"/>
		<meta name="description" content="straw poll" />
		<meta name="author" content="A Nonymous" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no"/>
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta name="apple-mobile-web-app-capable" content="yes">
        <link rel="stylesheet" href="css/pure-min.css">
		<link rel="stylesheet" href="css/app.css?1">
	</head>
	<body>
    <div class="banner">
        <h1 class="banner-head">FarmChat.</h1>
    </div>
    <div class="l-content" id="login-container">
      <div class="pure-g-r center-col">
        <div class="pure-u-1">
          <p>FarmChat is a demo project built on Backbone.js and Firebase</p>
          <form id="login-form" class="pure-form" action="#">
            <button id="login" class="pure-button pure-button-primary pure-button-action">Login with Twitter</button>
          </form>
        </div>
      </div>
    </div>

    <div class="l-content hidden" id="roomview-container">
      <div class="pure-g-r center-col">
        <div class="pure-u-2-3">
          <div id="room">
            <h2>Talk.</h2>
            <form class="pure-form" id="addMessage" action="#">
              <fieldset class="pure-group">
                <input type="text" placeholder="Message" id="text" class="pure-input-1">
              </fieldset>
              <div class="controls">
                <button id="send" class="pure-button pure-button-primary pure-button-small pure-button-action pure-input-1">Send</button>
              </div>
            </form>
            <div id="messages"></div>
          </div>
        </div>
        <div class="pure-u-1-3" id="users-container">
          <h2>Online.</h2>
          <div id="users">
            <div id="user-list"></div>
          </div>
        </div>
      </div>
    </div>
    <!-- templates -->
    <script id="messageTemplate" type="text/template">
      <h5 class="username">@<%- user %></h5>
      <p><%- text %></p>
    </script>
    <!-- end templates -->
    <!-- javascripts -->
    <script type='text/javascript' src='https://cdn.firebase.com/v0/firebase.js'></script>
    <script src="js/live.min.js"></script>
    <!-- end javascripts -->
	</body>
</html>